body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-custom {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
}

.card-custom:hover {
    transform: translateY(-5px);
}

.metric-value {
    font-size: 1.5rem;
    font-weight: bold;
}

#chart-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.chart-wrapper {
    position: relative;
    height: 400px; /* Kunci tinggi di sini */
    width: 100%;
    margin-bottom: 20px;
}

canvas {
    display: block;
    max-width: 100%;
}